<%= form_for(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
            <% @recipe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title , :placeholder=>"Title"%>
    </div>
    <div class="field">
      <%= f.text_area :description, :placeholder=>"Description", class:"input-block-level" %>
    </div>

    <div id="main">
      <h3>Ingredients</h3>
      <div class="my-form">
       <!-- <form role="form" method="post">-->
          <p class="text-box">
           <input type="text" name="ingredient[]" placeholder="Ingredient Name" class="form-control">
            <input type="text" name="amount[]" placeholder="Amount" width= "250px" class="form-control">
            <input type="text" name="unit[]" placeholder="Unit" class="form-control">
            <a class="add-box" href="#">Add More Ingredients</a>
          </p>
          <!--<p><input type="submit" value="Submit" /></p>-->
        <!--</form>-->
      </div>
    </div>

    <br>
    <div class="field">
      <%= f.text_area :directions,  class:"input-block-level", :placeholder=>"Directions", :rows=> "7"%>
    </div>
    <div class="field">
      <%= f.text_field :preptime , :placeholder=>"Preparation Time (in minutes)"%>
    </div>
    <div class="field">
      <%= f.text_field :cooktime , :placeholder=>"Cook Time(in minutes)" %>
    </div>
    <div class="field">
      <%= f.number_field :servings , :placeholder=>"Number of Servings"%>
    </div>
    <div class="field">
      <%= f.collection_select(:cuisine_id, Cuisine.all, "id", "name", {prompt: "Select a Cuisine"}) %>
    </div>
    <div class="field">
      <%= f.collection_select(:cookcategory_id, Cookcategory.all, "id", "name", {prompt: "Select a Category"}) %>
    </div>
    <div class="field">
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </div><br>


    <div class="actions">
      <% if @recipe.new_record? %>
          <%= f.submit "Upload Recipe", class: "btn btn-success"  %>
      <% else %>
          <%= f.submit "Update Recipe", class: "btn btn-success"  %>
      <% end %>

    </div>



<% end %>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('.my-form .add-box').click(function(){
            var n = $('.text-box').length + 1;
            if( 5 < n ) {
                alert('Stop it!');
                return false;
            }
            var box_html = $('<p class="text-box"> <input type="text" name="ingredient[]" placeholder="Ingredientt" class="form-control"><input type="text" name="amount[]" placeholder="Amount" width= "250px" class="form-control"><input type="text" name="unit[]" placeholder="Unit" class="form-control"> <a href="#" class="remove-box">Remove Ingredient</a></p>');

            box_html.hide();
            $('.my-form p.text-box:last').after(box_html);
            box_html.fadeIn('slow');
            return false;
        });
        $('.my-form').on('click', '.remove-box', function(){
            $(this).parent().css( 'background-color', '#FF6C6C' );
            $(this).parent().fadeOut("slow", function() {
                $(this).remove();
                $('.box-number').each(function(index){
                    $(this).text( index + 1 );
                });
            });
            return false;
        });
    });
</script>